<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classweb Clone - Users</title>
    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Font Imports-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!--CSS Style-->
    <link rel="stylesheet" href="./css/mycourses_style.css">
    <!--FAVICON-->
    <link rel="icon" type="image/png" href="./icons/graduation-cap-white.png">
    <!--FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color: #020204;">

  <nav
  class="navbar navbar-dark navbar-expand-lg sticky-top"
  style="background-color: #212529"
>
  <!-- Navbar content -->
  <a class="navbar-brand" href="#" style="color: #f7f7f5"
    ><i
      class="fa fa-university"
      aria-hidden="true"
      style="color: #fcbb6d"
    ></i>
    ClassWeb <span style="color: #fcbb6d">Clone</span></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNav"
    style="text-align: center; height: 3.5rem;"
  >
    <ul th:each="secret : ${secrets}" class="navbar-nav">
      <li class="nav-item" style="margin-top: .5rem">
        <a
          class="nav-link"
          th:href="@{/home_page_secret/{userName}(userName=${secret.userName})}"
          ><i class="fa fa-home" aria-hidden="true"></i> Home</a
        >
      </li>
      <li class="nav-item" style="margin-top: .5rem">
        <a class="nav-link disabled" href="#"
          ><i class="fa fa-book" aria-hidden="true"></i> My Courses</a
        >
      </li>
      <li class="nav-item" style="margin-top: .5rem">
        <a
          class="nav-link"
          th:href="@{/SyllabusSecret/{userName}(userName=${secret.userName})}"
          ><i class="fa fa-paperclip" aria-hidden="true"></i> Syllabus</a
        >
      </li>
      <li class="nav-item active" style="margin-top: .5rem">
        <a
          class="nav-link"
          th:href="@{/showInstructors/{userName}(userName=${secret.userName})}"
          style="color: #fcbb6d"
          ><i class="fa fa-users" aria-hidden="true"></i> Instructors</a
        >
      </li>
      <li class="nav-item" style="margin-top: .5rem">
        <a
          class="nav-link"
          th:href="@{/showStudents/{userName}(userName=${secret.userName})}"
          ><i class="fa fa-users" aria-hidden="true"></i> Students</a
        >
      </li>
      <li class="nav-item" style="margin-top: .5rem">
        <a
          class="nav-link"
          th:href="@{/showSecrets/{userName}(userName=${secret.userName})}"
          ><i class="fa fa-users" aria-hidden="true"></i> Secretaries</a
        >
      </li>
      <li class="nav-item" style="margin-top: .5rem; margin-left: 19rem">
        <a class="nav-link" th:href="@{/loginpage}"
          ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
    <!-- NAVIGATION BAR END -->

    <div class="row">
        <div class="col-sm-6 sticky-left">
          <div class="card" style="width: 20rem; height: 100%; background-color: #212529; margin-left: -1.5rem;">
            <div class="card-body">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark mw-100">
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                      <li>
                        <a  th:href="@{/showStudents/{userName}(userName=${secret.userName})}" class="nav-link text-white">
                            <i class="fa fa-user" aria-hidden="true" style="margin-right: 0.2rem;"></i>    
                            Students
                        </a>
                      </li>
                      <li>
                        <a href="./users_instructors_secretary.html" class="nav-link active"  style="color: #F7F7F5; background-color: #FCBB6D;">
                            <i class="fa fa-user" aria-hidden="true" style="margin-right: 0.2rem;"></i>
                            Instructors
                        </a>
                      </li>
                      <li>
                        <a  th:href="@{/showSecrets/{userName}(userName=${secret.userName})}" class="nav-link text-white">
                            <i class="fa fa-user" aria-hidden="true" style="margin-right: 0.2rem;"></i>
                            Secretaries
                        </a>
                      </li>
                    </ul>
                    <hr>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8" style="height: 100%; margin-left: -20rem; background-color: #020204;">
          <div class="card" style="background-color: #020204; margin-top: 0.3rem; margin-left: -1.5rem; width: 59.5rem;">
            
            <div class="container">
                <div class="row" style="margin-left: 20rem; margin-right: 15rem; margin-top: 2.5rem; margin-bottom: 2.5rem; align-items: center;">
                  <div class="col-sm">
                    <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#regularModal" style="width: 15rem; background-color: #FCBB6D;">
                      <i class="fa fa-trash" aria-hidden="true"></i> Remove Instructor
                    </button>
                    <div class="modal fade" id="regularModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <form th:action="@{/confirmdeleteInstructor/{userName}(userName=${secret.userName})}" method="get" th:object="${instructor}">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content" style="background-color: #212529; color: #F7F7F5;">
                            <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel"><span style="color: #FCBB6D;">Remove</span> an Instructor using <span style="color: #FCBB6D;">Instructor ID</span></h4>
                            </div>
                            <div class="modal-body">
                              <label for="validationCustom01">Instructor ID</label>
                              <input type="text" class="form-control" th:field="*{id}" id="validationCustom01" placeholder="XXXX" value="" required>
                              <small id="passwordHelp" class="form-text text-muted">* Enter a valid Instructor ID to remove an Instructor.</small>
                                <label for="validationCustom01">Are you Sure?</label>
                                <input type="text" class="form-control" th:field="*{check}" id="validationCustom01" placeholder="YES or NO" value="" required>
                                <small id="passwordHelp" class="form-text text-muted">* Confirm? YES or NO.</small>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-warning" style="background-color: #FCBB6D;">Remove</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

            <div class="card-body" style="background-color: #020204; color: #F7F7F5;">
                <h3 style="margin-bottom: 1.5rem;"><i class="fa fa-users" aria-hidden="true" style="color: #FCBB6D;"></i> All Instructors  </h3>

                <table class="table table-dark table-striped">
                  <thead>
                    <tr >
                      <th>Instr. ID</th>
                      <th>Full Name</th>
                      <th>Username</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="instructor : ${instructors}">
                      <th th:text="${instructor.id}" scope="row"></th>
                      <td th:text="${instructor.name}"></td>
                      <td th:text="${instructor.userName}"></td>
                      <td th:text="${instructor.email}"></td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <!--Bootstrap Javascript-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>