<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classweb Clone - My Courses</title>
    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Font Imports-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!--CSS Style-->
    <link rel="stylesheet" href="./css/mycourses_style.css">
    <!--FAVICON-->
    <link rel="icon" type="image/png" href="./icons/graduation-cap-white.png">
    <!--FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color: #020204;">
    
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-dark sticky-top" style="background-color: #212529;">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#" style="color: #F7F7F5;"><i class="fa fa-university" aria-hidden="true" style="color: #FCBB6D;"></i>  ClassWeb <span style="color: #FCBB6D;">Clone</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div   th:each="instructor : ${instructors}" class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{/homepageInstructor/{userName}(userName=${instructor.userName})}"><i class="fa fa-home" aria-hidden="true"></i> Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/instructorCourses/{userName}(userName=${instructor.userName})}" method=get style="color: #FCBB6D;"><i class="fa fa-book" aria-hidden="true"></i> My Courses <span style="font-weight: lighter; color: grey;">/Course_Registration</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{/SyllabusInstructor/{userName}(userName=${instructor.userName})}"><i class="fa fa-paperclip" aria-hidden="true"></i> Syllabus</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" href="#"><i class="fa fa-users" aria-hidden="true"></i> Users</a>
                </li>
                <li class="nav-item" style="margin-top: 5rem;">
                    <a class="nav-link"th:href="@{/loginpage}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- NAVIGATION BAR END -->

    <div class="row">
        <div class="col-sm-6 sticky-left">
          <div class="card" style="width: 20rem; height: 100%; background-color: #212529; margin-left: -1.5rem;">
            <div class="card-body">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark mw-100">
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                      <li class="nav-item">
                        <a th:href="@{/instructorCourses/{userName}(userName=${instructor.userName})}" class="nav-link text-white" aria-current="page">
                            <i class="fa fa-terminal" aria-hidden="true" style="margin-right: 0.2rem;"></i>
                            My Teaching Courses
                        </a>
                      </li>
                      <li>
                        <a th:href="@{/instructorAddCourse/{userName}(userName=${instructor.userName})}" class="nav-link active" style="color: #F7F7F5; background-color: #FCBB6D;">
                            <i class="fa fa-plus-square" aria-hidden="true" style="margin-right: 0.2rem;"></i>    
                            Course Registration
                        </a>
                      </li>
                      <li>
                        <a th:href="@{/instructordeleteCourse/{userName}(userName=${instructor.userName})}" class="nav-link" style="color: #F7F7F5;">
                            <i class="fa fa-minus-square" aria-hidden="true" style="margin-right: 0.2rem;"></i>    
                            Delete Course
                        </a>
                      </li>
                      <li>
                        <a th:href="@{/statisticsPage/{userName}(userName=${instructor.userName})}" class="nav-link text-white">
                            <i class="fa fa-line-chart" aria-hidden="true" style="margin-right: 0.2rem;"></i>
                            Statistics
                        </a>
                      </li>
                    </ul>
                    <hr>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8" style="height: 100%; margin-left: -20rem; background-color: #020204;">
          <div class="card" style="background-color: #020204; margin-top: 0.3rem; margin-left: -1.5rem; width: 59.5rem;">
            
            <div class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <h4>Instructions</h4>
              <p>
                1. Click on "Register a Course" button. <br>
                2. Enter the Course ID of the course you would like to register to your courses. <br>
                3. Click on "Add" button. <br>
              </p>
            </div>  

            <div class="container">
              <div class="row" style="margin-left: 20rem; margin-right: 15rem; margin-top: 2.5rem; margin-bottom: 2.5rem; align-items: center;">
                  <div class="col-sm">
                      <div th:if="${param.success}">
                          <div class="alert alert-dismissible alert-success">You've successfully added the course!</div>
                      </div>
                      <div th:each="error : ${errors}">
                          <div class="alert alert-danger">
                              <td th:text="${error}"></td>
                          </div>
                      </div>
                  </div>
                <div class="col-sm">
                  <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#regularModal" style="width: 15rem; background-color: #FCBB6D;">
                    Register a Course
                  </button>

                  <div class="modal fade" id="regularModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <form th:action="@{/addCourseInstructor/{userName}(userName=${instructor.userName})}" method=post th:object="${instructor}">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content" style="background-color: #212529; color: #F7F7F5;">
                          <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Add a Course to Your Courses</h4>
                          </div>
                          <div class="modal-body">
                            <label for="validationCustom01">Course ID</label>
                            <input type="text" class="form-control" th:field="*{courseId}" id="validationCustom01" placeholder="MYY-XXX" value="" required>
                          </div>
                            <button type="submit" class="btn btn-warning" style="background-color: #FCBB6D;">Add</button>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
          </div>
            
            <div class="card-body" style="background-color: #020204; color: #F7F7F5;">

                <h3 style="margin-bottom: 1.5rem;">Available Courses from Current Syllabus</h3>

                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Course ID</th>
                        <th>Course Name</th>
                        <th>ECTS Marks</th>
                        <th>Manage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  th:each="course : ${available}">
                        <th  th:text="${course.courseId}" scope="row"></th>
                        <td th:text=" ${course.courseName}"></td>
                        <td th:text="${course.ects}"></td>
                        <td><a  th:href="@{/courseDescription/{courseId}(courseId=${course.courseId})}" style="text-decoration: none; color: #FCBB6D;">Description</a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
    <!--Bootstrap Javascript-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>