<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Title-->
    <title>Simple Student Record</title>
    <!-- CSS File-->
    <link rel="stylesheet" href="style.css">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color: skyblue">
<CENTER><h2>All Courses</h2></CENTER>
<!--Table-->
<table>
    <!--Row-1-->
    <tr>
        <!--Column-1-->
        <td>
            <!--Form-->
            <!--                <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">-->
            <!--                 <h3>New Student Form</h3>-->
            <!--                  &lt;!&ndash;div-1&ndash;&gt;-->
            <!--                    <div>-->
            <!--                        <label>AM</label>-->
            <!--                        &lt;!&ndash;Validation Error&ndash;&gt;-->
            <!--                        <label class="validation-error hide" id="userNamevalidationError">This field is required</label>-->
            <!--                        &lt;!&ndash;Input User Name&ndash;&gt;-->
            <!--                        <input type="text" name="userName" id="userName" placeholder="Enter Student Number">-->
            <!--                    </div>-->
            <!--                    &lt;!&ndash;div-2&ndash;&gt;-->
            <!--                    <div>-->
            <!--                        <label>Full Name</label>-->
            <!--                        &lt;!&ndash;Validation Error&ndash;&gt;-->
            <!--                        <label class="validation-error hide" id="rollNovalidationError" >This field is required</label>-->
            <!--                        &lt;!&ndash;Input Roll No&ndash;&gt;-->
            <!--                        <input type="text" name="rollNo" id="rollNo" placeholder="Enter Student's Full Name">-->
            <!--                    </div>-->
            <!--                    &lt;!&ndash;div-3&ndash;&gt;-->
            <!--                    <div>-->
            <!--                        <label>Year of Registration</label>-->
            <!--                        &lt;!&ndash;Validation Error&ndash;&gt;-->
            <!--                        <label class="validation-error hide" id="stdClassvalidationError">This field is required</label>-->
            <!--                       &lt;!&ndash;Input Student Class&ndash;&gt;-->
            <!--                        <input type="text" name="stdClass" id="stdClass" placeholder="Enter the year of student's registration">-->
            <!--                    </div>-->
            <!--                    &lt;!&ndash;div-4&ndash;&gt;-->
            <!--                    <div>-->
            <!--                        <label>Semester</label>-->
            <!--                        &lt;!&ndash;Validation Error&ndash;&gt;-->
            <!--                        <label class="validation-error hide" id="tsubvalidationError">This field is required</label>-->
            <!--                        &lt;!&ndash;Input Total Subject&ndash;&gt;-->
            <!--                        <input type="number" name="tsub" id="tsub" placeholder="Enter student's current semester">-->
            <!--                    </div>-->
            <!--                    &lt;!&ndash;div-5&ndash;&gt;-->
            <!--                    <div>-->
            <!--                        <label>Year of Studies</label>-->
            <!--                        &lt;!&ndash;Validation Error&ndash;&gt;-->
            <!--                        <label class="validation-error hide" id="agevalidationError">This field is required</label>-->
            <!--                        &lt;!&ndash;Input Age&ndash;&gt;-->
            <!--                        <input type="number" name="age" id="age" placeholder="Enter Student's Year of Studies">-->
            <!--                    </div>-->
            <!--                    &lt;!&ndash;div-6&ndash;&gt;-->
            <!--                    <div class="form-action-buttons">-->
            <!--                        &lt;!&ndash;Input Button&ndash;&gt;-->
            <!--                        <input type="submit" value="Submit">-->
            <!--                    </div>-->
            <!--                </form>-->
            <!--            </td>-->
            <!--            &lt;!&ndash;Column-2&ndash;&gt;-->
            <!--            <td>-->
            <!--                &lt;!&ndash;Nested Table&ndash;&gt;-->
            <table class="table table-stripped" id="stdlist" style="background-color: #C2976D;">
                <!--Table Head-->
                <thead>
                <!--Row-2-->
                <tr>
                    <th>InstructorID</th>

                    <th>Name</th>
                    <th>UserName</th>
                    <th>Courses</th>
                </tr>
                </thead>

                <!-- Edw mpenoun oi foitites -->
                <tr th:each="instructor : ${instructors}">
                    <td th:text="${instructor.id}">ID</td>
                    <td th:text="${instructor.name}">Name</td>
                    <td th:text="${instructor.userName}">UserName</td>
                    <td th:text="${instructor.myCoursesString}">Courses</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>